body {
    color: rgb(8, 17, 24);
    font-family: monospace;
    line-height: 30px;
    background-color: rgb(200, 175, 175);
    background-position: center;
    background-size: cover;
}

#name {
    font-size: 40px;
    color: rgb(163, 158, 165);
}

#links {
    color: rgb(34, 6, 53);
    font-size: 22px;
    font-style: unset;
    font-family: cursive;
}

.title {
    color: rebeccapurple;
    padding: 20px;
    border-style: groove;
}

.col-md-9 {
    float: right;
}

.contactbox {
    padding-left: 20px;
}

.header {
    background-color: rgb(17, 65, 104);
    overflow: hidden;
    padding: 20px 10px;
}

.header a {
    text-align: right;
    float: left;
    color: rgb(255, 238, 225);
    max-width: 960px;
    display: block;
    padding: 12px;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}

.link {
    float: right;
}

.about_me {
    width: 960px;
    border: 1px solid dodgerblue;
}

.myimage{
    width: 200px;
    height: auto;
    margin-top: 10px;
    margin-right: 25px;
    float: left;
    border: darkviolet;
    border-style: solid;
}

.portfolio {
    padding-left: 20px;
}

.connect {
    color: maroon;
    text-shadow: slateblue 10px;
}

.mymedia{
    color: rgb(40, 40, 40);
}

footer {
    background: silver;
    text-align: center;
}